In [1]:
def addtwo(i, j):
    return i + j

print(addtwo(4, 5))

9

In [29]:
import pandas as pd

In [2]:
i= 4
j= 5
result= addtwo(i,j)
print("The sum of the two values {}, and {} is: {}".format(i, j, result))

The sum of the two values 4, and 5 is: 9

In [8]:
def population_density(population, land_area):
    return population/land_area

# test cases for your function
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

test2 = population_density(864816, 121.4)
expected_result2 = 7123.6902801
print("expected result: {}, actual result: {}".format(expected_result2, test2))

expected result: 10, actual result: 10.0
expected result: 7123.6902801, actual result: 7123.690280065897

In [13]:
for i in [1, 2, 3, 4, 5]:  
  print(i)

1
2
3
4
5

In [16]:
x = lambda x: x * 2

In [17]:
print(x)

<function <lambda> at 0x00000288C803D160>

In [18]:
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

In [19]:
def mean(num_list):
    return sum(num_list) / len(num_list)

averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

In [21]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

def filter_vowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return True if letter in vowels else False

filtered_vowels = filter(filter_vowels, letters)

# converting to tuple
vowels = tuple(filtered_vowels)
print(vowels)

('a', 'e', 'i', 'o')

In [24]:
print(filter_vowels(letters))

False

In [23]:
print(x)

False

In [25]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

def is_short(name):
    return len(name) < 10

short_cities = list(filter(is_short, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

In [26]:
names = input("Enter names separated by commas: ").title().split(",")
assignments = input("Enter assignment counts separated by commas: ").split(",")
grades = input("Enter grades separated by commas: ").split(",")

message = "Hi {},\n\nThis is a reminder that you have {} assignments left to \
submit before you can graduate. You're current grade is {} and can increase \
to {} if you submit all assignments before the due date.\n\n"

for name, assignment, grade in zip(names, assignments, grades):
    print(message.format(name, assignment, grade, int(grade) + int(assignment)*2))

Enter names separated by commas: d
Enter assignment counts separated by commas: h
Enter grades separated by commas: j

ValueError: invalid literal for int() with base 10: 'j'

In [27]:
try:
    # some code
except Exception as e:
   # some code
   print("Exception occurred: {}".format(e))

IndentationError: expected an indented block (<ipython-input-27-352471b07d32>, line 3)

In [33]:
google_stock = pd.read_csv("C:\Pandas\goog-1.csv")

In [35]:
print(type(google_stock))

<class 'pandas.core.frame.DataFrame'>

In [41]:
google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
...,...,...,...,...,...,...,...
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [ ]:
list(map(lambda x, y: x - y, [2, 4, 6], [1, 3, 5]))

In [49]:
x = lambda x, y: x - y

In [50]:
print(x(5, 6))

-1

In [52]:
y = (lambda x, y: x - y)